{% extends 'siteapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block body_block %}
    <!-- banner section -->
    <section class="banner-section" id="top-heading">
        <div class="heading" id="heading">
            <h4>
                <span><img src="{% static 'siteapp/images/star.svg' %}" alt="" /></span> BEST MEDICAL
                TREATMENT
            </h4>
            <h1>
                Our team helps you get your <br />
                life back on track.
            </h1>
        </div>
        <div class="banner-img">
            <img src="{% static 'siteapp/images/company.png' %}" alt="" />
            <div class="rotate">
                <img src="{% static 'siteapp/images/bottom.svg' %}" alt="" />
            </div>
        </div>
    </section>

    <!-- Why choose us -->
    <section class="why-choose-us" id="why-choose-us">
        <div class="container">
            <div class="grid">
                <div class="choose-1">
                    <div class="grid">
                        <div class="sub-choose-img">
                            <img src="{% static 'siteapp/images/timer.svg' %}" alt="" />
                        </div>
                        <div class="sub-choose-text">
                            <h1>24 hour service</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                </div>
                <div class="choose-2">
                    <div class="grid">
                        <div class="sub-choose-img">
                            <img src="{% static 'siteapp/images/timer.svg' %}" alt="" />
                        </div>
                        <div class="sub-choose-text">
                            <h1>8 years of experience</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                </div>
                <div class="choose-3">
                    <div class="grid">
                        <div class="sub-choose-img">
                            <img src="{% static 'siteapp/images/timer.svg' %}" alt="" />
                        </div>
                        <div class="sub-choose-text">
                            <h1>High quality care</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{% static 'siteapp/images/bottom.svg' %}" alt="" />
        </div>
    </section>

    <!-- Our story section -->
    <section class="about-section">
        <div class="container">
            <div class="grid">
                <div class="about-text" id="about-text">
                    <h5>OUR STORY</h5>
                    <h1>
                        We’ve been in business <br />
                        since 2012.
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                        sed do eiusmod tempor incididunt ut labore et dolore <br />
                        magna aliqua.
                    </p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation <br />
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="about-img" id="about-img">
                    <div class="back"></div>
                    <img src="{% static 'siteapp/images/medicine.png' %}" alt="" />
                </div>
            </div>
        </div>
    </section>

    <!-- Our mission section -->
    <section class="about-section">
        <div class="container">
            <div class="grid">
                <div class="about-img">
                    <div class="back"></div>
                    <img src="{% static 'siteapp/images/surgery.png' %}" alt="" />
                </div>
                <div class="about-text">
                    <h5>OUR STORY</h5>
                    <h1>Our mission is to help patients live better.</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
                        sed do eiusmod tempor incididunt ut labore et dolore <br />
                        magna aliqua.
                    </p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation <br />
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- video -->
    <section class="video-section">
        <div class="container">
            <div class="heading">
                <h5>DR. MATTHEW ANDERSON</h5>
                <h1>
                    Watch video to learn why he <br />
                    is the right doctor for you
                </h1>
            </div>
            <div class="video-container">
                <img src="{% static 'siteapp/images/video-img.png' %}" alt="" />
                <a href="./video.html">
                    <img src="{% static 'siteapp/images/play-img.svg' %}" alt="" class="play-div" />
                </a>
            </div>
            <div class="side">
                <img src="{% static 'siteapp/images/img-right.svg' %}" alt="" />
            </div>
        </div>
    </section>

    <!-- services-->
    <section class="service-section">
        <div class="container">
            <div class="heading">
                <h5>OUR VALUES</h5>
                <h1>Our values that drive success</h1>
            </div>
            <div class="service-container" id="service-container">
                <div class="service-1" id="service-1">
                    <div class="other">
                        <div class="box"></div>
                    </div>
                    <h5>Lorem ipsum dolor</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt.
                    </p>
                </div>
                <div class="service-2" id="service-2">
                    <div class="other">
                        <div class="box"></div>
                    </div>
                    <h5>Lorem ipsum dolor</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt.
                    </p>
                </div>
                <div class="service-3" id="service-3">
                    <div class="other">
                        <div class="box"></div>
                    </div>
                    <h5>Lorem ipsum dolor</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt.
                    </p>
                </div>
                <div class="service-4" id="service-4">
                    <div class="other">
                        <div class="box"></div>
                    </div>
                    <h5>Lorem ipsum dolor</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- contact section -->
    <section class="contact-section">
        <div class="container">
            <div class="heading">
                <h5>CONTACT US</h5>
                <h1>Get in touch to book your first <br> appointment</h1>
            </div>
            <div class="grid phone-container">
                <div class="phone">
                    <div class="grid">
                        <div class="sub-phone-img">
                            <i class="icon-phone"></i>
                        </div>
                        <div class="sub-phone-text">
                            <h5>PHONE</h5>
                            <p>(123) 456 -7890</p>
                        </div>
                    </div>
                </div>
                <div class="mail">
                    <div class="grid">
                        <div class="sub-mail-img">
                            <i class="icon-envelope"></i>
                        </div>
                        <div class="sub-mail-text">
                            <h5>MAIL</h5>
                            <p>hi@flowbase.co</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form phone-container">
                <form method="post" enctype="multipart/form">
                    {% csrf_token %}
                    <div class="grid">
                        <div class="input-control">
                            <input type="text" name="fname" id="fname" placeholder="First name">
                        </div>
                        <div class="input-control">
                            <input type="text" name="lname" id="lname" placeholder="Last name">
                        </div>
                    </div>
                    <div class="grid">
                        <div class="input-control">
                            <input type="text" name="pnumber" id="pnumber" placeholder="Phone number">
                        </div>
                        <div class="input-control">
                            <input type="text" name="email" id="email" placeholder="johndoe@gmail.com">
                        </div>
                    </div>
                    <div class="input-control" id="input-control">
                        <input type="text" name="subject" id="subject" placeholder="Type your message here">
                    </div>
                    <div class="hero-button" id="button">
                        <a href="">
                            <button>Book an Appointment</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
    

