{% extends 'siteapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block body_block %}
  <!-- Hero Section -->
  <section class="services-banner" id="services-banner">
      <div class="side-2">
        <img src="{% static 'siteapp/images/large-right.svg' %}" alt="" />
      </div>
      <div class="heading">
        <h5>OUR SERVICES</h5>
        <h1>General Practitioners</h1>
      </div>
    <div class="video-container">
      <div class="service-text">
        <div class="service-logo">
            <img src="{% static 'siteapp/images/teeth-hand.svg' %}" alt="">
        </div>
        <h2>About our General</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br> enim ad minim veniam, quis nostrud exercitation ullamco laboris <br> nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <br> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <br> non proident, sunt in culpa qui officia deserunt mollit anim id est <br> laborum.</p>
      </div>
    </div>
  </section>

  <!-- services-->
  <section class="service-section">
    <div class="container">
      <div class="heading">
        <h5>Services</h5>
        <h1>
          Experienced in multiple <br />
          medical practices
        </h1>
      </div>
      <div class="service-container">
        <div class="service-1">
          <div class="other">
            <img src="{% static 'siteapp/images/teeth-star.svg' %}" alt="" />
          </div>
          <h5>Lorem ipsum dolor</h5>
          <p>
            Lorem ipsum dolor sit amet consectet piscing elit, sed do
            eiusmod.
          </p>
          <a href="#services-banner">Learn More</a>
        </div>
        <div class="service-2">
          <div class="other">
            <img src="{% static 'siteapp/images/teeth-pain.svg' %}" alt="" />
          </div>
          <h5>Lorem ipsum dolor</h5>
          <p>
            Lorem ipsum dolor sit amet consectet piscing elit, sed do
            eiusmod.
          </p>
          <a href="#services-banner">Learn More</a>
        </div>
        <div class="service-3">
          <div class="other">
            <img src="{% static 'siteapp/images/teeth-hand.svg' %}" alt="" />
          </div>
          <h5>Lorem ipsum dolor</h5>
          <p>
            Lorem ipsum dolor sit amet consectet piscing elit, sed do
            eiusmod.
          </p>
          <a href="#services-banner">Learn More</a>
        </div>
        <div class="service-4">
          <div class="other">
            <img src="{% static 'siteapp/images/teeth-star.svg' %}" alt="" />
          </div>
          <h5>Lorem ipsum dolor</h5>
          <p>
            Lorem ipsum dolor sit amet consectet piscing elit, sed do
            eiusmod.
          </p>
          <a href="#services-banner">Learn More</a>
        </div>
        <div class="service-5">
          <div class="other">
            <img src="{% static 'siteapp/images/teeth-pain.svg' %}" alt="" />
          </div>
          <h5>Lorem ipsum dolor</h5>
          <p>
            Lorem ipsum dolor sit amet consectet piscing elit, sed do
            eiusmod.
          </p>
          <a href="#services-banner">Learn More</a>
        </div>
        <div class="service-6">
          <div class="other">
            <img src="{% static 'siteapp/images/teeth-hand.svg' %}" alt="" />
          </div>
          <h5>Lorem ipsum dolor</h5>
          <p>
            Lorem ipsum dolor sit amet consectet piscing elit, sed do
            eiusmod.
          </p>
          <a href="#services-banner">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  <!-- contact section -->
  <section class="contact-section">
    <div class="container">
      <div class="heading">
        <h5>CONTACT US</h5>
        <h1>
          Get in touch to book your first <br />
          appointment
        </h1>
      </div>
      <div class="grid phone-container">
        <div class="phone">
          <div class="grid">
            <div class="sub-phone-img">
              <i class="icon-phone"></i>
            </div>
            <div class="sub-phone-text">
              <h5>PHONE</h5>
              <p>(123) 456 -7890</p>
            </div>
          </div>
        </div>
        <div class="mail">
          <div class="grid">
            <div class="sub-mail-img">
              <i class="icon-envelope"></i>
            </div>
            <div class="sub-mail-text">
              <h5>MAIL</h5>
              <p>hi@flowbase.co</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-form phone-container">
        <form method="post" enctype="multipart/form">
          {% csrf_token %}
          <div class="grid">
            <div class="input-control">
              <input type="text" name="fname" id="fname" placeholder="First name" />
            </div>
            <div class="input-control">
              <input type="text" name="lname" id="lname" placeholder="Last name" />
            </div>
          </div>
          <div class="grid">
            <div class="input-control">
              <input type="text" name="pnumber" id="pnumber" placeholder="Phone number" />
            </div>
            <div class="input-control">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="johndoe@gmail.com"
              />
            </div>
          </div>
          <div class="input-control" id="input-control">
            <input
              type="text"
              name="subject"
              id="subject"
              placeholder="Type your message here"
            />
          </div>
          <div class="hero-button" id="button">
            <a href="">
              <button>Book an Appointment</button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
      

      
