*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu{
    position: absolute;
    right: 0;
    top: 100%;
    height: fit-content;
    background-color: black;
    padding: 0.5em 1em;
    opacity: 0;
    display: inline;
    z-index: 1;
}

.menu ul li a{
    color: white;
    line-height: 1.5;
    font-size: 0.6875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile{
    position: relative;
    width: fit-content;
}

.profile:hover .menu{
    opacity: 1;
}

